# cloudflare-r2-storage
R2_BUCKET_NAME=<YOUR_BUCKET_NAME>
R2_TOKEN_VALUE=<YOUR_R2_TOKEN>
R2_ACCOUNT_ID=<YOUR_ACCOUNT_ID>
R2_ACCESS_KEY_ID=<YOUR_ACCESS_KEY_ID>
R2_SECRET_ACCESS_KEY=<YOUR_SECRET_ACCESS_KEY>
R2_PUBLIC_URL_BASE=<YOUR_PUBLIC_URL>

# better-auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=<GENERATE_A_SECRET>

# seed
ADMIN_EMAIL=<YOUR_ADMIN_EMAIL>
ADMIN_PASSWORD=<YOUR_ADMIN_PASSWORD>

# docker
POSTGRESQL_USER=postgres
POSTGRESQL_NAME=oyemarco-db
POSTGRESQL_PASSWORD=12345

# prisma
DATABASE_URL=<YOUR_DATABASE_URL>

# resend
RESEND_API_KEY=re*****************